*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.gfonts{
    font-family: 'Exo 2', sans-serif;
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: black;
    padding: 20px;
    &__logo{
        color : white;
        font-weight: bold;
        text-decoration: none;
    };
    &__items{
        display: flex;
        &--ul{
            display: flex;
            list-style: none;
            margin-bottom: auto;
            &Link{
                text-decoration: none;
                color: white;
                font-weight: bold;
                margin-right: 1rem;
            }
        }
        &--cart{
            margin-left: 2rem;
            cursor: pointer;
            color: white;
            font-weight: bold;
        }
    }
}
.cart__listContainer{
        font-weight: bold;
        font-size: 2rem;
}