*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Exo 2', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
}
body{
    color: white;
    font-family: 'Exo 2', sans-serif;
}
.carousel__home{
    width: 100%;
    height: 60vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    &--textBlack{
        font-size: 1.5rem;  
        color: black;
    }
    &--textWhite{
        font-size: 1.5rem;  
        color: white;
    }
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: rgb(42, 42, 42);
    padding: 20px;
    position: sticky;
    z-index: 999;
    top: 0;
    &__logo{
        color : white;
        text-decoration: none;
    }
    &__logo:hover{
        color:rgb(130, 252, 0)
    }
    &__items{
        display: flex;
        &--ul{
            display: flex;
            list-style: none;
            margin-bottom: auto;
            &Link{
                text-decoration: none;
                color: white;
                margin-right: 1rem;
            }
            &Link:hover{
                color:rgb(130, 252, 0);
            }
        }
        &--cart{
            margin-left: 2rem;
            cursor: pointer;
            color: white;
            &__count{
                color: black;
                font-weight: bold;
                display: flex;
                justify-content: center;
                align-items: center;
                background: white;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                margin-left: 0.25rem;
            }
        }
    }
}
.listaProductos{
    background-color: rgb(42, 42, 42);
}
.itemListContainer{
        font-size: 1.5rem;
        margin: 10px;
        &__title{
            font-weight: bold;
            text-align: center;
            color: rgb(130, 252, 0);
        }
        &__items{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(220px, auto));
            gap: 1rem;
            margin: 0rem 1rem 0rem 1rem;
            &--card{
                margin: 0;
                justify-content: center;
                &Img{
                    width: 100%;
                    margin-bottom: 0.5rem;
                }
            }
        }
}
.itemDetail{
    display: flex;
    flex-direction: row !important;
    margin: 1rem;
    &__itemCount{
        font-weight: bold;
        font-size: 1.3rem;
        margin-bottom: 1rem;
        &--input{
            font-weight: bold;
            border: 1px solid black;
            border-radius: 5px;
            margin: 0px 5px 10px 5px
        }
    }
    &__img{
        max-height: 30rem;
        max-width: 30rem;
    }
    &__home{
        margin-bottom: 1rem;
    }
    &__cartButton{
        margin-right: 8px;
    }
}
.cartItem__btn{
    display: flex;
    flex-direction: column;
    &--quantity{
        font-size: 1rem !important;
    }
    &--trash{
        margin-top: 0.5rem;
        cursor: pointer;
    }
}
.cart{
    &__btn{
        margin: 0.5rem;
    }
    &__total{
        margin: 0.5rem;
    }
}
.form{
    display: grid;
    justify-content: center;
    &__title{
        text-align: center;
        font-weight: bold;
    }
    &__group{
        display: grid;
        gap: 0.8rem;
        margin-bottom: 0.8rem;
        &--label{
            font-size: 1.3rem;
        }
    }
}
.footer{
    display: flex;
    background-color: rgb(42, 42, 42);
    justify-content: space-around;
    top: 0;
    &__title{
        color: rgb(130, 252, 0);
        margin: 1rem 0rem 1rem 0rem
    }
    &__ul{
        padding: 0rem;
    }
    &__li{
        list-style: none;
        margin: 0rem 0rem 0.5rem 0rem;
        &--link{
            font-size: 1rem;
            color: white;
        }
        &--link:hover{
            color: rgb(130, 252, 0);
        }
    }
    &__logo{
        width: 50px;
        height: 50px;
    }
    &__maps{
        width: 15rem;
        height: 15rem;
    }
}
.categories{
    &__ul{
        list-style: none;
        
    }
}